@model AuditingSystem.Entities.AuditFieldWork.AuditProgram
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject IUserContext UserContext
@{
    ViewData["DeleteTitle"] = "AuditProgramLists";
    ViewData["Title"] = "Add";
}
@{
    var userPermissionsJson = "";
    var userPermissions = new List<RolesPermissions>();
    var httpContext = ViewContext.HttpContext;
    if (httpContext != null)
    {
        userPermissionsJson = httpContext.Session.GetString("UserPermissions");
        userPermissions = JsonConvert.DeserializeObject<List<RolesPermissions>>(userPermissionsJson, new JsonSerializerSettings
                {
                    ReferenceLoopHandling = ReferenceLoopHandling.Ignore
                });
    }
}

<link href="~/css/addeditstyle.css" rel="stylesheet" />
<style>
    .note-editor {
        width: 450px;
    }
</style>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Edit Audit Program</h4>
                <form class="forms-sample" id="EditForm">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="Company">Company</label>
                                @Html.DropDownList("CompanyId", ViewBag.CompanyId as SelectList, "-- Select One --", new { @class = "form-control", @id = "Company", @name = "CompanyId" })
                                <span asp-validation-for="CompanyId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="Company">Auditor</label>
                                @Html.DropDownList("AuditorId", ViewBag.AuditorId as SelectList, "-- Select One --", new { @class = "form-control", @id = "Auditor", @name = "AuditorId" })
                                <span asp-validation-for="AuditorId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <label for="Department">Department</label>
                                @Html.DropDownList("DepartmentId", ViewBag.DepartmentId, "-- Select One --", new { @class = "form-control", @id = "Department", @name = "DepartmentId" })
                                <span asp-validation-for="DepartmentId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="Company">Actual Date</label>
                                <input asp-for="ActualDate" title="ActualDate" type="text" name="ActualDate" class="ActualDate form-control" id="ActualDate" />
                                <span asp-validation-for="ActualDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="Period">Period</label>
                                <input asp-for="Period" title="Period" type="text" name="Period" class="Period form-control" id="Period" />
                                <span asp-validation-for="Period" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                </form>
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="card-title">Audit Program List Management View</h4>
                    </div>
                </div>
                <div class="navbar-menu-wrapper navbar-search-wrapper d-none d-lg-flex align-items-center">
                    <ul class="navbar-nav mr-lg-2" style="width: 100%; margin-top: 5px;" id="SearchList">
                        <li class="nav-item nav-search d-none d-lg-block">
                            <div class="input-group">
                                <input id="Search" type="text" class="form-control" placeholder="Search Here..." aria-label="search" aria-describedby="search">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="table-responsive" style="">
                    <table style="width:3500px;" id="tableList" class="table table-striped table-bordered tableList">
                        <thead>
                            <tr>
                                <th>Risk Title</th>
                                <th>Identification Description</th>
                                <th>Risk Category</th>
                                <th>Inherent Risk Rating</th>
                                <th>Control Name</th>
                                <th>Control Description</th>
                                <th>Control Type</th>
                                <th>Control Process</th>
                                <th>Control Frequency</th>
                                <th>Control Effectiveness</th>
                                <th>Control Effectiveness Rating</th>
                                @* <th>Residual Risk Rating</th> *@
                                <th>Test Description</th>
                                <th>Test Result</th>
                                <th>Reference</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.auditProgramList)
                            {
                                <tr id="tr">
                                    <td>@Html.Raw(item.RiskIdentification.Name)</td>
                                    <td>@Html.Raw(item.RiskIdentification.Description)</td>
                                    <td style="background-color:@item.RiskCategory.BGColor;color:@item.RiskCategory.FontColor">@item.RiskCategory.Name</td>
                                    <td>@item.RiskIdentification.InherentRiskRating</td>
                                    <td>@Html.Raw(item.Control.Name)</td>
                                    <td>@Html.Raw(item.Control.Description)</td>
                                    <td style="background-color:@item.ControlType.BGColor;color:@item.ControlType.FontColor">@item.ControlType.Name</td>
                                    <td style="background-color:@item.ControlProcess.BGColor;color:@item.ControlProcess.FontColor">@item.ControlProcess.Name</td>
                                    <td style="background-color:@item.ControlFrequency.BGColor;color:@item.ControlFrequency.FontColor">@item.ControlFrequency.Name</td>
                                    <td style="background-color:@item.ControlEffectiveness.BGColor;color:@item.ControlEffectiveness.FontColor">@item.ControlEffectiveness.Name</td>
                                    <td>@item.Control.ControlEffectivenessRating</td>
                                    @* <td>@item.RiskAssessmentList.ResidualRiskRating</td> *@
                                    <td style="display:none;" class="desc" data-programlistid="@item.AuditProgramList.Id">
                                        <textarea data-programlistid="@item.AuditProgramList.Id" type="text" class="form-control Description" id="Description" name="Description" placeholder="Test Description">@item.AuditProgramList.Description</textarea>
                                        <button title="View" data-programlistid="@item.AuditProgramList.Id" class="btn btn-info btnViewDesc"><i class="fa-solid fa-eye"></i></button>
                                    </td>
                                    <td style="width:490px;" class="View" data-programlistid="@item.AuditProgramList.Id">
                                        @Html.Raw(item.AuditProgramList.Description)
                                            <button title="Edit" data-programlistid="@item.AuditProgramList.Id" class="btn btn-info btnEditDesc"><i class="fa fa-pencil"></i></button>
                                   </td>

                                    <td style="display:none;" class="Testdesc" data-programlistid="@item.AuditProgramList.Id">
                                        <textarea data-programlistid="@item.AuditProgramList.Id" type="text" class="form-control TestResult" id="TestResult" name="TestResult" placeholder="Test Result">@item.AuditProgramList.TestResult</textarea>
                                        <button title="View" data-programlistid="@item.AuditProgramList.Id" class="btn btn-info btnViewTestResultDesc"><i class="fa-solid fa-eye"></i></button>
                                    </td>
                                    <td style="width:490px;" class="TestView" data-programlistid="@item.AuditProgramList.Id">
                                        @Html.Raw(item.AuditProgramList.TestResult)
                                        <button title="Edit" data-programlistid="@item.AuditProgramList.Id" class="btn btn-info btnEditTestResultDesc"><i class="fa fa-pencil"></i></button>
                                    </td>


                                        <td>
                                        <input multiple data-programlistid="@item.AuditProgramList.Id" style="width: 300px;" type="file" name="Reference" id="Reference" class="form-control Reference" />
                                        <ul id="fileList" data-programlistid="@item.AuditProgramList.Id" class="list-unstyled">
                                            @if (item.AuditProgramList.Reference != null)
                                            {
                                                foreach (var fileName in item.AuditProgramList.Reference.Split(','))
                                                {
                                                    <li><a href="@fileName" download="@fileName">@fileName</a></li>
                                                }
                                            }
                                        </ul>
                                    </td>
                                    @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Audit Programs" && p.View == true && p.Delete == true))
                                    {
                                        <td>
                                            <a data-actions-id="@item.AuditProgramList.Id" title="Delete" id="btnDelete" href="#"><i class="fa-solid fa-trash"></i></a>
                                        </td>

                                    }
                                    <td style="display:none;">
                                        <a id="btnSave" class="showAlertButton btnSave" title="Add Data" data-programlistid="@item.AuditProgramList.Id" href="#"> <i class="fa-solid fa-floppy-disk"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>

                <br />
                <br />
                <br />
                <div class="modal-footer" style="position: fixed; left: 0; right: 0; bottom: 0; background-color: #ffffff; z-index: 9; ">
                    <button id="btnCancel" class="btn btn-secondary">Cancel</button>
                    <button id="saveButton" type="button" class="btn btn-primary me-2">Save Data</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var table = $('.tableList');

            table.draggable({
                axis: 'x',
                cursor: 'grabbing',
                scroll: false,
                start: function (event, ui) {
                    $.ui.ddmanager.current.cancelHelperRemoval = true;
                }
            });
            $(document).on("click", ".btnEditDesc", function () {
                var programlistid = $(this).data("programlistid");
                $(".desc[data-programlistid='" + programlistid + "']").show();//css("display","block");
                $(".View[data-programlistid='" + programlistid + "']").hide();// css("display", "none");
                $('.tableList').draggable("destroy");

            });
            $(document).on("click", ".btnViewDesc", function () {
                var programlistid = $(this).data("programlistid");
                $(".desc[data-programlistid='" + programlistid + "']").hide();// css("display", "none");
                $(".View[data-programlistid='" + programlistid + "']").show();//css("display", "block");
                var table = $('.tableList');

                table.draggable({
                    axis: 'x',
                    cursor: 'grabbing',
                    scroll: false,
                    start: function (event, ui) {
                        $.ui.ddmanager.current.cancelHelperRemoval = true;
                    }
                });
            });


            $(document).on("click", ".btnEditTestResultDesc", function () {
                var programlistid = $(this).data("programlistid");
                $(".Testdesc[data-programlistid='" + programlistid + "']").show();//css("display","block");
                $(".TestView[data-programlistid='" + programlistid + "']").hide();// css("display", "none");
                $('.tableList').draggable("destroy");

            });
            $(document).on("click", ".btnViewTestResultDesc", function () {
                var programlistid = $(this).data("programlistid");
                $(".Testdesc[data-programlistid='" + programlistid + "']").hide();// css("display", "none");
                $(".TestView[data-programlistid='" + programlistid + "']").show();//css("display", "block");
                var table = $('.tableList');

                table.draggable({
                    axis: 'x',
                    cursor: 'grabbing',
                    scroll: false,
                    start: function (event, ui) {
                        $.ui.ddmanager.current.cancelHelperRemoval = true;
                    }
                });
            });

            $("#Company").prop("disabled", true);
            $("#Department").prop("disabled", true);

            $(".ActualDate").datepicker();
            $(".Period").datepicker();

            $('.Description').summernote();
            $('.TestResult').summernote();


            function formatDate(dateString) {
                if (dateString) {
                    var date = new Date(dateString);
                    return date.toISOString();
                } else {
                    return null;
                }
            }

            $("#EditForm").validate({
                rules: {
                    AuditorId: {
                        required: true
                    },
                    ActualDate: {
                        required: true
                    },
                    Period: {
                        required: true
                    }
                },
                messages: {
                    AuditorId: {
                        required: "The Auditor field is required"
                    },
                    ActualDate: {
                        required: "The Actual Date field is required"
                    },
                    Period: {
                        required: "The Period field is required"
                    }
                },
                errorPlacement: function (error, element) {
                    if (element.is("select")) {
                        error.insertAfter(element.siblings("span"));
                    } else if (element.is("textarea")) {
                        error.insertAfter(element);
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

            $(document).on("click", "#btnCancel", function (e) {
                e.preventDefault();
                window.location.href = '/AuditProgram/Index';
            });


            $(document).on("click", "#saveButton", function () {
                if ($("#EditForm").valid()) {
                    var formData = {
                        AuditorId: $("#Auditor").val(),
                        DepartmentId: $("#Department").val(),
                        ActualDate: formatDate($("#ActualDate").val()) || null,
                        Period: formatDate($("#Period").val()) || null
                    };

                    swal({
                        title: "Saving...",
                        text: "Please wait.",
                        allowOutsideClick: false,
                        showConfirmButton: false, // إخفاء زر التأكيد
                        showCancelButton: false, // إخفاء زر الإلغاء
                        showCloseButton: false, // إخفاء زر الإغلاق
                        onBeforeOpen: () => {
                            swal.showLoading(); // إضافة شريط التقدم
                        }
                    });

                    setTimeout(function () {
                        $.ajax({
                            url: "/api/AuditPrograms/" + @Model.Id,
                            method: "PUT",
                            dataType: 'json',
                            contentType: "application/json",
                            data: JSON.stringify(formData),
                            success: function (response) {
                                console.log("Add audit program");
                            },
                            error: function (error) {
                                if (error.responseJSON && error.responseJSON.errors) {
                                    swal({
                                        title: "Opps...",
                                        text: "Something went wrong!",
                                        icon: "error",
                                        position: "top-end", // تحديد الوضعية في أعلى الزاوية اليمنى
                                        timer: 2000, // فترة الزمن بالميلي ثانية (هنا 2000 ميلي ثانية = 2 ثانية)
                                        allowOutsideClick: false,
                                        showConfirmButton: false, // إخفاء زر التأكيد
                                        showCancelButton: false, // إخفاء زر الإلغاء
                                        showCloseButton: false // إخفاء زر الإغلاق
                                    });
                                }
                            }
                        });

                        var totalRequests = $(".btnSave").length;
                        var successfulResponses = 0; 

                        $(".btnSave").each(function () {
                            var programlistid = $(this).data("programlistid");
                            var htmlDescription = $(".Description[data-programlistid='" + programlistid + "']").summernote('code');
                            var htmlTestResult = $(".TestResult[data-programlistid='" + programlistid + "']").summernote('code');

                            // Handle file inputs
                            var referenceInput = $("input[data-programlistid='" + programlistid + "'][type='file']");
                            var formData = new FormData();

                            formData.append("Description", htmlDescription);
                            formData.append("TestResult", htmlTestResult);

                            if (referenceInput.length > 0) {
                                var referenceFiles = referenceInput[0].files;
                                for (var i = 0; i < referenceFiles.length; i++) {
                                    formData.append("ReferenceFiles", referenceFiles[i]);
                                }
                            }
                            $.ajax({
                                url: "/api/AuditProgramLists/" + programlistid,
                                method: "PUT",
                                processData: false,  // Important: Do not process the data
                                contentType: false,  // Important: Let jQuery set the content type
                                data: formData,
                                success: function (response) {
                                    successfulResponses++; 
                                    if (successfulResponses === totalRequests) { 
                                        swal({
                                            title: "Success",
                                            text: "Your data has been saved",
                                            icon: "success",
                                            position: "top-end",
                                            timer: 2000,
                                            allowOutsideClick: false,
                                            showConfirmButton: false,
                                            showCancelButton: false,
                                            showCloseButton: false
                                        }).then(function () {
                                            window.location.href = '/AuditProgram/Index';
                                        });
                                    }
                                },
                                error: function (error) {
                                    successfulResponses++;
                                    if (error.responseJSON && error.responseJSON.errors) {
                                        if (successfulResponses === totalRequests) {
                                            swal({
                                                title: "Opps...",
                                                text: "Something went wrong!",
                                                icon: "error",
                                                position: "top-end",
                                                timer: 2000,
                                                allowOutsideClick: false,
                                                showConfirmButton: false,
                                                showCancelButton: false,
                                                showCloseButton: false
                                            });
                                        }
                                    }
                                }
                            });
                        });
                    }, 2000);
                }
            });

            $(document).on("change", "input[type='file']", function () {
                var programlistid = $(this).data("programlistid");
                var fileList = $(this)[0].files;
                var ulFileList = $("#fileList[data-programlistid='" + programlistid + "']");

                ulFileList.empty();
                for (var i = 0; i < fileList.length; i++) {
                    ulFileList.append("<li>" + fileList[i].name + "</li>");
                }
            });


        });
    </script>
}
