@model IEnumerable<Activity>
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject IUserContext UserContext
@{
    ViewData["DeleteTitle"] = "activities";
    ViewData["Title"] = "Activity List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var userPermissionsJson = "";
    var userPermissions = new List<RolesPermissions>();
    var httpContext = ViewContext.HttpContext;
    if (httpContext != null)
    {
        userPermissionsJson = httpContext.Session.GetString("UserPermissions");
        userPermissions = JsonConvert.DeserializeObject<List<RolesPermissions>>(userPermissionsJson, new JsonSerializerSettings
                {
                    ReferenceLoopHandling = ReferenceLoopHandling.Ignore
                });
    }
}



<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="card-title">Activity Management View</h4>
                    </div>
                    <div class="col-md-6 text-end">
                        @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Activity" && p.View == true && p.Add == true))
                        {
                            <a class="btn btn-primary me-2" href="~/Activity/Add">
                                <i class="fa-solid fa-plus"></i> Add New Activity
                            </a>
                        }
                    </div>
                </div>
                @foreach (var item in Model.Where(d => d.Objectives.Count() != 0).OrderBy(d =>
                {
                   int code;
                   return int.TryParse(d.Code, out code) ? code : 0;
                }))
                {
                    <div class="card mb-5">
                        <table class="table table-hover table-bordered">

                            <tbody>


                                <tr class="table-primary">
                                    <th style="" colspan="6">
                                        Function: @item.Function?.Name
                                        <br />
                                        @(item.Code + " - " + item.Name)
                                    </th>

                                    <th style=""></th>
                                    <th style=""></th>
                                    <th>
                                    </th>
                                    @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Activity" && p.View == true && (p.Edit == false && p.Delete == false)))
                                    {

                                        <th> <a title="View Activity" asp-action="View" asp-controller="Activity" asp-route-id="@item.Id" title="View"><i class="fa-solid fa-eye"></i></a></th>

                                    }
                                    @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Activity" && p.View == true && (p.Edit == false && p.Delete == true)))
                                    {

                                        <th> <a title="View Activity" asp-action="View" asp-controller="Activity" asp-route-id="@item.Id" title="View"><i class="fa-solid fa-eye"></i></a></th>

                                    }
                                    @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Activity" && p.View == true && p.Edit == true))
                                    {

                                        <th> <a title="Edit Activity" asp-action="Edit" asp-controller="Activity" asp-route-id="@item.Id" title="Edit"><i class="fa-solid fa-pen-to-square"></i></a></th>

                                    }
                                    @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Activity" && p.View == true && p.Delete == true))
                                    {
                                        <th> <a title="Delete Activity" data-actions-id="@item.Id" id="btnDelete" href="#"><i class="fa-solid fa-trash"></i></a></th>
                                    }
                                </tr>

                                <tr>

                                    <th>
                                        OBJECTIVE
                                    </th>
                                    <th>
                                        TASK
                                    </th>
                                    <th>
                                        PRACTICE
                                    </th>


                                </tr>


                                @foreach (var objective in item.Objectives.OrderBy(f => Convert.ToInt32(f.Code)))
                                {
                                            <tr>
                                                <th colspan="7">
                                                    <a href="/Task/GetTasksByObjectiveId?objectiveId=@objective.Id" title="objective">
                                                        @(objective.Code + " - " + objective.Name)
                                                    </a>
                                                </th>

                                                @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Objective" && p.View == true && (p.Edit == false && p.Delete == false)))
                                                {

                                                    <td><a title="View Objective" asp-action="View" asp-controller="Activity" asp-route-id="@objective.Id"><i class="fa-solid fa-eye"></i></a></td>

                                                }
                                                @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Objective" && p.View == true && (p.Edit == false && p.Delete == true)))
                                                {

                                                    <td> <a title="View Objective" asp-action="View" asp-controller="Activity" asp-route-id="@objective.Id"><i class="fa-solid fa-eye"></i></a></td>

                                                }
                                                @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Objective" && p.View == true && p.Edit == true))
                                                {

                                                    <td><a title="Edit Objective" asp-action="Edit" asp-controller="Activity" asp-route-id="@objective.Id"><i class="fa fa-pencil"></i></a></td>

                                                }
                                                @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Objective" && p.View == true && p.Delete == true))
                                                {

                                                    <td><a title="Delete Objective" data-actions-id="@objective.Id" title="Delete" id="btnDelete" href="#"><i class="fa-solid fa-trash"></i></a></td>
                                                }
                                            </tr>

                                    @foreach (var task in objective.Tasks.OrderBy(f => Convert.ToInt32(f.Code)))
                                    {
                                                <tr>
                                                    <td>
                                                        @(objective.Code + " - " + objective.Name)
                                                    </td>

                                                    <th colspan="6">
                                                        <a href="/Practice?taskId=@task.Id" title="Task">
                                                            @(task.Code + " - " + task.Name)
                                                        </a>
                                                    </th>

                                                    @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Task" && p.View == true && (p.Edit == false && p.Delete == false)))
                                                    {

                                                        <td> <a title="View Task" asp-action="View" asp-controller="Objective" asp-route-id="@task.Id"><i class="fa-solid fa-eye"></i></a></td>

                                                    }
                                                    @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Task" && p.View == true && (p.Edit == false && p.Delete == true)))
                                                    {

                                                        <td><a title="View Task" asp-action="View" asp-controller="Objective" asp-route-id="@task.Id"><i class="fa-solid fa-eye"></i></a></td>

                                                    }
                                                    @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Task" && p.View == true && p.Edit == true))
                                                    {

                                                        <td><a title="Edit Task" asp-action="Edit" asp-controller="Objective" asp-route-id="@task.Id"><i class="fa fa-pencil"></i></a></td>

                                                    }
                                                    @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Task" && p.View == true && p.Delete == true))
                                                    {
                                                        <td> <a title="Delete Task" data-actions-id="@task.Id" id="btnDelete" href="#"><i class="fa-solid fa-trash"></i></a></td>
                                                    }
                                                </tr>

                                        @foreach (var practice in task.Practices.OrderBy(f => Convert.ToInt32(f.Code)))
                                        {
                                                    <tr>

                                                        <td>
                                                            @(objective.Code + " - " + objective.Name)
                                                        </td>
                                                        <td>
                                                            @(task.Code + " - " + task.Name)
                                                        </td>
                                                        <td colspan="4">
                                                            @(practice.Code + " - " + practice.Name)
                                                        </td>


                                                        @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Practice" && p.View == true && (p.Edit == false && p.Delete == false)))
                                                        {

                                                            <td> <a title="View Practice" asp-action="View" asp-controller="Task" asp-route-id="@practice.Id"><i class="fa-solid fa-eye"></i></a></td>

                                                        }
                                                        @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Practice" && p.View == true && (p.Edit == false && p.Delete == true)))
                                                        {

                                                            <td> <a title="View Practice" asp-action="View" asp-controller="Task" asp-route-id="@practice.Id"><i class="fa-solid fa-eye"></i></a></td>

                                                        }
                                                        @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Practice" && p.View == true && p.Edit == true))
                                                        {

                                                            <td><a title="Edit Practice" asp-action="Edit" asp-controller="Task" asp-route-id="@practice.Id"><i class="fa fa-pencil"></i></a></td>

                                                        }
                                                        @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Practice" && p.View == true && p.Delete == true))
                                                        {

                                                            <td><a title="Delete Practice" data-actions-id="@practice.Id" id="btnDelete" href="#"><i class="fa-solid fa-trash"></i></a></td>
                                                        }

                                                    </tr>
                                                }
                                            }
                                        }
                            </tbody>
                        </table>
                    </div>
                }

            </div>
        </div>
    </div>
</div>


@* 
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="card-title">Activity Management View</h4>
                    </div>
                    <div class="col-md-6 text-end">
                        @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Activity" && p.View == true && p.Add == true))
                        {
                            <a class="btn btn-primary me-2" href="~/Activity/Add">
                                <i class="fa-solid fa-plus"></i> Add New Activity
                            </a>
                        }
                    </div>
                </div>
                <div class="navbar-menu-wrapper navbar-search-wrapper d-none d-lg-flex align-items-center">
                    <ul class="navbar-nav mr-lg-2" style="width: 100%; margin-top: 5px;" id="SearchList">
                        <li class="nav-item nav-search d-none d-lg-block">
                            <div class="input-group">
                                <input id="Search" type="text" class="form-control" placeholder="Search Here..." aria-label="search" aria-describedby="search">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="table-responsive">
                    @if (Model != null)
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        ACTIVITY
                                    </th>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var item in Model)
                                {
                                    <tr v-for="item in items" :key="item.id">

                                        <td>
                                            <div class="row">
                                                <div class="col">
                                                    <b>
                                                        <code>
                                                            @(item.Function.Department.Company.Code + "." + item.Function.Department.Code + "." + item.Function.Code + "." + item.Code)
                                                        </code>
                                                        ›

                                                        @(item.Name != null ? item.Name:"N/A")
                                                    </b>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col col-12 pl-5 pt-2" v-for="child in item.objectives"
                                                     :key="child.id">
                                                    &nbsp; &nbsp; &nbsp;
                                                    @foreach (var objective in item.Objectives.OrderBy(f => f.Code))
                                                    {
                                                        <h6>
                                                            <ol style="list-style-type:none;">
                                                                <li>
                                                                    <a href="/Task/GetTasksByObjectiveId?objectiveId=@objective.Id"
                                                                       title="Objective">
                                                                        @objective.Code @objective.Name
                                                                    </a>
                                                                </li>
                                                            </ol>
                                                        </h6>
                                                    }
                                                    
                                                </div>
                                            </div>
                                        </td>
                                        @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Activity" && p.View == true && (p.Edit == false && p.Delete == false)))
                                        {
                                            <td>
                                                <a asp-action="View" asp-controller="Activity" asp-route-id="@item.Id" title="View"><i class="fa-solid fa-eye"></i></a>
                                            </td>
                                        }
                                        @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Activity" && p.View == true && (p.Edit == false && p.Delete == true)))
                                        {
                                            <td>
                                                <a asp-action="View" asp-controller="Activity" asp-route-id="@item.Id" title="View"><i class="fa-solid fa-eye"></i></a>
                                            </td>
                                        }
                                        @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Activity" && p.View == true && p.Edit == true))
                                        {
                                            <td>
                                                <a asp-action="Edit" asp-controller="Activity" asp-route-id="@item.Id" title="Edit"><i class="fa-solid fa-pen-to-square"></i></a>
                                            </td>
                                        }
                                        @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Activity" && p.View == true && p.Delete == true))
                                        {
                                            <td>
                                                <a data-actions-id="@item.Id" title="Delete" id="btnDelete" href="#"><i class="fa-solid fa-trash"></i></a>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                        
                    }
                </div>
            </div>
        </div>
    </div>
</div>
 *@