@model IEnumerable<Objective>

@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject IUserContext UserContext

@{
    ViewData["DeleteTitle"] = "objectives";
    ViewData["Title"] = "Objective List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var userPermissionsJson = "";
    var userPermissions = new List<RolesPermissions>();
    var httpContext = ViewContext.HttpContext;
    if (httpContext != null)
    {
        userPermissionsJson = httpContext.Session.GetString("UserPermissions");
        userPermissions = JsonConvert.DeserializeObject<List<RolesPermissions>>(userPermissionsJson, new JsonSerializerSettings
                {
                    ReferenceLoopHandling = ReferenceLoopHandling.Ignore
                });
    }
}

<style>
    .btn-danger, .fa-trash {
        color: #ffffff;
    }
</style>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="card-title">Objective Management View</h4>
                    </div>
                    <div class="col-md-6 text-end">
                        @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Objective" && p.View == true && p.Add == true))
                        {
                            <a class="btn btn-primary me-2" href="~/Objective/Add">
                                <i class="fa-solid fa-plus"></i> Add New Objective
                            </a>
                        }
                    </div>
                </div>
                <div class="row p-3 m-3" style="box-shadow: 0px 2px 5px 0px;">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="CompanyId">Company</label>
                            <select style="border:1px solid #c1c1c1" class="form-control" id="Company" asp-items="ViewBag.CompanyId">
                                <option value="">All Companies</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="DepartmentId">Department</label>
                            <select style="border:1px solid #c1c1c1" class="form-control" id="Department" asp-items="ViewBag.DepartmentId">
                                <option value="">All Departments</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="FunctionId">Function</label>
                            <select style="border:1px solid #c1c1c1" class="form-control" id="Function" asp-items="ViewBag.FunctionId">
                                <option value="">All Functions</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="ActivityId">Activity</label>
                            <select style="border:1px solid #c1c1c1" class="form-control" id="Activity" asp-items="ViewBag.ActivityId">
                                <option value="">All Activities</option>
                            </select>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead>

                        <tr>
                            <th>
                                OBJECTIVE
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="tr">
                                <td>
                                    <div class="row">
                                        <div class="col">
                                            <b>
                                                <code>
                                                    @(item.Activity.Function.Department.Company.Code).
                                                    @(item.Activity.Function.Department.Code).
                                                    @(item.Activity.Function.Code).
                                                    @(item.Activity.Code).
                                                    @(item.Code)
                                                </code>
                                                ›

                                                @(item.Name != null ? item.Name : "N/A")
                                            </b>
                                        </div>

                                    </div>
                                    @foreach (var subItem in item.Tasks)
                                    {
                                        <div class="row">
                                            <div class="col col-12 pl-5 pt-2">
                                                &nbsp; &nbsp; &nbsp;
                                                <a href="#"
                                                   title="Function">
                                                    @subItem.Code @subItem.Name
                                                </a>
                                            </div>
                                        </div>
                                    }
                                </td>

                                @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Objective" && p.View == true && (p.Edit == false && p.Delete == false)))
                                {

                                    <td> <a class="btn btn-primary" title="View" asp-action="View" asp-controller="Objective" asp-route-id="@item.Id" title="View"><i class="fa-solid fa-eye"></i>View</a></td>

                                }
                                @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Objective" && p.View == true && (p.Edit == false && p.Delete == true)))
                                {

                                    <td> <a class="btn btn-primary" title="View" asp-action="View" asp-controller="Objective" asp-route-id="@item.Id" title="View"><i class="fa-solid fa-eye"></i>View</a></td>

                                }
                                @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Objective" && p.View == true && p.Edit == true))
                                {

                                    <td> <a class="btn btn-primary" title="Edit" asp-action="Edit" asp-controller="Objective" asp-route-id="@item.Id" title="Edit"><i class="fa-solid fa-pen-to-square"></i>Edit</a></td>

                                }
                                @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Objective" && p.View == true && p.Delete == true))
                                {
                                    <td> <button class="btn btn-danger" title="Delete" data-actions-id="@item.Id" id="btnDelete"><i class="fa-solid fa-trash"></i>Delete</button></td>
                                }



                            </tr>

                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                            </td>
                        </tr>
                    </tfoot>
                </table>


            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#Department").prop("disabled", true);
            $("#Function").prop("disabled", true);
            $("#Activity").prop("disabled", true);

            $("#Company").change(function () {
                var companyId = $(this).val();
                $.ajax({
                    url: "/Objective/GetDepartmentsByCompany",
                    data: { companyId: companyId },
                    type: "GET",
                    success: function (data) {
                        $("#Department").prop("disabled", false);

                        var options = '<option value="">All Departments</option>';

                        if (data && data["$values"]) {
                            data["$values"].forEach(function (item) {
                                options += '<option value="' + item.id + '">' + item.name + '</option>';
                            });
                            $("#Department").html(options);
                        }
                    }
                });
            });

            $("#Department").change(function () {
                var departmentId = $(this).val();
                $.ajax({
                    url: "/Objective/GetFunctionsByDepartment",
                    data: { departmentId: departmentId },
                    type: "GET",
                    success: function (data) {
                        $("#Function").prop("disabled", false);

                        var options = '<option value="">All Functions</option>';

                        if (data && data["$values"]) {
                            data["$values"].forEach(function (item) {
                                options += '<option value="' + item.id + '">' + item.name + '</option>';
                            });
                            $("#Function").html(options);
                        }
                    }
                });
            });

            $("#Activity").change(function () {
                var FunctionId = $(this).val();
                $.ajax({
                    url: "/Objective/GetActivitiesByFunction",
                    data: { FunctionId: FunctionId },
                    type: "GET",
                    success: function (data) {
                        $("#Activity").prop("disabled", false);

                        var options = '<option value="">All Activities</option>';

                        if (data && data["$values"]) {
                            data["$values"].forEach(function (item) {
                                options += '<option value="' + item.id + '">' + item.name + '</option>';
                            });
                            $("#Activity").html(options);
                        }
                    }
                });
            });

            $("#Company, #Department, #Function, #Activity").on("change", function () {
                var companyId = $("#Company").val();
                var departmentId = $("#Department").val();
                var functionId = $("#Function").val();
                var activityId = $("#Activity").val();

                $('#loading').show();

                $.ajax({
                    url: '/Objective/FilterObjTable',
                    type: 'GET',
                    data: { companyId: companyId, departmentId: departmentId, functionId: functionId, activityId: activityId },
                    dataType: 'json',
                    success: function (data) {
                        $('tbody').empty();

                        $.each(data.$values, function (index, item) {
                            var row = '<tr>' +
                                '<td><div class="row"><div class="col"><b><code>' + item.companyCode + '.' + item.departmentCode + '.' + item.functionCode + '.' + item.activityCode + '.' + item.code + '</code> › <a href="#" title="Objective">' + (item.name !== null ? item.name : "N/A") + '</a></b></div></div>';

                            if (item.tasks.$values.length > 0) {
                                $.each(item.tasks.$values, function (subIndex, subItem) {
                                    row += '<div class="row"><div class="col col-12 pl-5 pt-2">&nbsp; &nbsp; &nbsp; <a href="#" title="Task">' + subItem.code + ' ' + subItem.name + '</a></div></div>';
                                });
                            }

                            row += '</td>';
                            row += '<td class="text-right" style="white-space: nowrap;">';
                            row += '<a class="btn btn-primary" title="Edit" asp-action="Edit" asp-controller="Objective" asp-route-id="' + item.id + '" title="Edit"><i class="fa-solid fa-pen"></i> Edit</a>';
                            row += '</td>';
                            row += '<td class="text-right" style="white-space: nowrap;">';
                            row += '<button class="btn btn-danger" title="Delete" data-actions-id="' + item.id + '" id="btnDelete"><i class="fa-solid fa-trash"></i> Delete</button>';
                            row += '</td>';
                            row += '</tr>';

                            $('tbody').append(row);
                        });

                        var visibleRows = $('tbody tr:visible').length;
                        if (visibleRows === 0) {
                            $('#noDataMessage').show();
                        } else {
                            $('#noDataMessage').hide();
                        }

                        $('#resetFilterButton').show();
                    },
                    complete: function () {
                        $('#loading').hide();
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                        $('#loading').hide();
                    }
                });
            });

        });
    </script>
}