@model Objective
@{
    ViewData["Title"] = "Objective View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/addeditstyle.css" rel="stylesheet" />
<div class="row">

    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">View Objective</h4>
                <form class="forms-sample" id="EditForm">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="Code">Code</label>
                                <input disabled asp-for="Code" type="text" class="form-control" id="Code" name="Code" placeholder="Industry Code">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="Industry">Industry</label>
                                @Html.DropDownList("IndustryId", ViewBag.IndustryId as SelectList, "-- Select One --", new { @class = "form-control", @id = "Industry" , @name="IndustryId", disabled="disabled"})
                                <span asp-validation-for="IndustryId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="Company">Company</label>
                                @Html.DropDownList("CompanyId", ViewBag.CompanyId as SelectList, "-- Select One --", new { @class = "form-control", @id = "Company" , @name="CompanyId", disabled="disabled"})
                                <span asp-validation-for="CompanyId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="Department">Department</label>
                                @Html.DropDownList("DepartmentId", ViewBag.DepartmentId as SelectList, "-- Select One --", new { @class = "form-control", @id = "Department" , @name="DepartmentId", disabled="disabled"})
                                <span asp-validation-for="DepartmentId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="Function">Function</label>
                                @Html.DropDownList("FunctionId", ViewBag.FunctionId as SelectList, "-- Select One --", new { @class = "form-control", @id = "Function" , @name="FunctionId", disabled="disabled"})
                                <span asp-validation-for="FunctionId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="Activity">Activity</label>
                                @Html.DropDownList("ActivityId", ViewBag.ActivityId as SelectList, "-- Select One --", new { @class = "form-control", @id = "Activity" , @name="ActivityId", disabled="disabled"})
                                <span asp-validation-for="ActivityId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="Name">Name</label>
                                <input disabled type="text" class="form-control" id="Name" placeholder="Activity Name" asp-for="Name">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="Description">Description</label>
                                <textarea disabled asp-for="Description" type="text" class="form-control" id="Description" placeholder="Description"></textarea>
                            </div>
                        </div>
                    </div>
               
                    <div class="float-end">
                        <button id="btnCancel" class="btn btn-secondary">Cancel</button>
                        <button disabled id="saveButton" type="button" class="btn btn-primary me-2">Save Data</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            $('#Description').summernote();

            $("#EditForm").validate({
                rules: {
                    ActivityId: {
                        required: true
                    },
                    Name: {
                        required: true
                    }
                },
                messages: {
                    ActivityId: {
                        required: "The Activity field is required"
                    },
                    Name: {
                        required: "The Name field is required"
                    }
                },
                errorPlacement: function (error, element) {
                    if (element.is("select")) {
                        error.insertAfter(element.siblings("span"));
                    } else if (element.is("textarea")) {
                        error.insertAfter(element);
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

            $(document).on("click", "#btnCancel", function (e) {
                e.preventDefault();
                window.location.href = '/Objective/Index';
            });

            $("#saveButton").click(function () {
                var htmlDescription = $('#Description').summernote('code');

                if ($("#EditForm").valid()) {
                    var formData = {
                        Name: $("#Name").val(),
                        ActivityId: $("#Activity").val(),
                        Description: htmlDescription
                    };
                    $.ajax({
                        url: "/api/objectives/" + @Model.Id,
                        method: "PUT",
                        dataType: 'json',
                        contentType: "application/json",
                        data: JSON.stringify(formData),
                        success: function (response) {
                            alert("The Modified is Successfully");
                            window.location.href = '/Objective/Index';
                        },
                        error: function (error) {
                            if (error.responseJSON && error.responseJSON.errors) {
                                $.each(error.responseJSON.errors, function (key, value) {
                                    $("#" + key).siblings(".text-danger").text(value);
                                });
                            }
                        }
                    });
                }
            });
        });
    </script>
}