@model IEnumerable<Company>
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject IUserContext UserContext
@{
    ViewData["DeleteTitle"] = "companies";
    ViewData["Title"] = "Company List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var userPermissionsJson = "";
    var userPermissions = new List<RolesPermissions>();
    var httpContext = ViewContext.HttpContext;
    if (httpContext != null)
    {
        userPermissionsJson = httpContext.Session.GetString("UserPermissions");
        userPermissions = JsonConvert.DeserializeObject<List<RolesPermissions>>(userPermissionsJson, new JsonSerializerSettings
                {
                    ReferenceLoopHandling = ReferenceLoopHandling.Ignore
                });
    }
}


<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">      
                        <h4 class="card-title">Company Management View</h4>
                    </div>
                    <div class="col-md-6 text-end">
                        @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Company" && p.View == true && p.Add == true))
                        {
                            <a class="btn btn-primary me-2" href="~/Company/Add">
                                <i class="fa-solid fa-plus"></i> Add New Company
                            </a>
                        }                        
                    </div>
                </div>
               @*  <div class="navbar-menu-wrapper navbar-search-wrapper d-none d-lg-flex align-items-center">
                    <ul class="navbar-nav mr-lg-2" style="width: 100%; margin-top: 5px;" id="SearchList">
                        <li class="nav-item nav-search d-none d-lg-block">
                            <div class="input-group">
                                <input id="Search" type="text" class="form-control" placeholder="Search Here..." aria-label="search" aria-describedby="search">
                            </div>
                        </li>
                    </ul>
                </div> *@
                @foreach (var item in Model)
                {
                    <div class="card mb-5">
                        <table class="table table-hover table-bordered">

                            <tbody>


                                <tr class="table-primary">
                                    <th style="" colspan="6">
                                        Industry: @item.Industry?.Name
                                        <br />
                                        @(item.Code + " - " + item.Name)
                                    </th>

                                    <th style=""></th>
                                    <th style=""></th>
                                    <th>
                                    </th>
                                        @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Company" && p.View == true && (p.Edit == false && p.Delete == false)))
                                        {

                                        <th> <a title="View Company" asp-action="View" asp-controller="Company" asp-route-id="@item.Id" title="View"><i class="fa-solid fa-eye"></i></a></th>
                                        
                                        }
                                        @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Company" && p.View == true && (p.Edit == false && p.Delete == true)))
                                        {

                                        <th> <a title="View Company" asp-action="View" asp-controller="Company" asp-route-id="@item.Id" title="View"><i class="fa-solid fa-eye"></i></a></th>
                                        
                                        }
                                        @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Company" && p.View == true && p.Edit == true))
                                        {

                                        <th> <a title="Edit Company" asp-action="Edit" asp-controller="Company" asp-route-id="@item.Id" title="Edit"><i class="fa-solid fa-pen-to-square"></i></a></th>
                                        
                                        }
                                        @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Company" && p.View == true && p.Delete == true))
                                        {

                                        <th> <a title="Delete Company" data-actions-id="@item.Id" id="btnDelete" href="#"><i class="fa-solid fa-trash"></i></a></th>
                                        
                                        }
                                </tr>

                                <tr>

                                    <th>
                                        DEPARTMENT
                                    </th>
                                    <th>
                                        FUNCTION
                                    </th>
                                    <th>
                                        ACTIVITY
                                    </th>
                                    <th>
                                        OBJECTIVE
                                    </th>
                                    <th>
                                        TASK
                                    </th>
                                    <th>
                                        PRACTICE
                                    </th>

                                    <th colspan="3">
                                        INDUSTRY
                                    </th>

                                </tr>

                                @foreach (var department in item.Departments.OrderBy(d => d.Code))
                                {
                                    <tr>
                                        <th colspan="9">
                                            <a href="/Function/GetFunctionsByDepartmentId?departmentId=@department.Id" title="Department">
                                                @(department.Code + " - " + department.Name)
                                            </a>
                                        </th>

                                            @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Department" && p.View == true && (p.Edit == false && p.Delete == false)))
                                            {

                                            <td><a title="View Department" asp-action="View" asp-controller="Department" asp-route-id="@department.Id"><i class="fa-solid fa-eye"></i></a></td>
                                            
                                            }
                                            @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Department" && p.View == true && (p.Edit == false && p.Delete == true)))
                                            {

                                            <td> <a title="View Department" asp-action="View" asp-controller="Department" asp-route-id="@department.Id"><i class="fa-solid fa-eye"></i></a></td>
                                            
                                            }
                                            @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Department" && p.View == true && p.Edit == true))
                                            {

                                            <td> <a title="Edit Department" asp-action="Edit" asp-controller="Department" asp-route-id="@department.Id"><i class="fa fa-pencil"></i></a></td>
                                            
                                            }
                                            @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Department" && p.View == true && p.Delete == true))
                                            {

                                            <td><a title="Delete Department" data-actions-id="@department.Id" title="Delete" id="btnDelete" href="#"><i class="fa-solid fa-trash"></i></a></td>
                                            }
                                    </tr>
                                    @foreach (var function in department.Functions.OrderBy(f => f.Code))
                                    {
                                        <tr>
                                            <td>
                                                @(department.Code + " - " + department.Name)
                                            </td>
                                            <th colspan="8">
                                                <a href="/Activity/GetActivitiesByFunctionId?functionId=@function.Id" title="Function">
                                                    @(function.Code + " - " + function.Name)
                                                </a>
                                            </th>

                                                @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Function" && p.View == true && (p.Edit == false && p.Delete == false)))
                                                {

                                                <td><a title="View Function" asp-action="View" asp-controller="Function" asp-route-id="@function.Id" title="View"><i class="fa-solid fa-eye"></i></a></td>

                                                }
                                                @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Function" && p.View == true && (p.Edit == false && p.Delete == true)))
                                                {

                                                <td><a title="View Function" asp-action="View" asp-controller="Function" asp-route-id="@function.Id" title="View"><i class="fa-solid fa-eye"></i></a></td>

                                                }
                                                @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Function" && p.View == true && p.Edit == true))
                                                {

                                                <td> <a title="Edit Function" asp-action="Edit" asp-controller="Function" asp-route-id="@function.Id" title="Edit"><i class="fa fa-pencil"></i></a></td>

                                                }
                                                @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Function" && p.View == true && p.Delete == true))
                                                {

                                                <td><a title="Delete Department" data-actions-id="@function.Id" title="Delete" id="btnDelete" href="#"><i class="fa-solid fa-trash"></i></a></td>
                                                }
                                        </tr>

                                        @foreach (var activity in function.Activities.OrderBy(f => f.Code))
                                        {
                                            <tr>
                                                <td>
                                                    @(department.Code + " - " + department.Name)
                                                </td>
                                                <td>
                                                    @(function.Code + " - " + function.Name)
                                                </td>
                                                <th colspan="7">
                                                    <a href="/Objective/GetObjectivesByActivityId?activityId=@activity.Id" title="Activity">
                                                        @(activity.Code + " - " + activity.Name)
                                                    </a>
                                                </th>

                                                    @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Activity" && p.View == true && (p.Edit == false && p.Delete == false)))
                                                    {

                                                    <td><a title="View Activity" asp-action="View" asp-controller="Activity" asp-route-id="@activity.Id"><i class="fa-solid fa-eye"></i></a></td>

                                                    }
                                                    @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Activity" && p.View == true && (p.Edit == false && p.Delete == true)))
                                                    {

                                                    <td> <a title="View Activity" asp-action="View" asp-controller="Activity" asp-route-id="@activity.Id"><i class="fa-solid fa-eye"></i></a></td>

                                                    }
                                                    @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Activity" && p.View == true && p.Edit == true))
                                                    {

                                                    <td><a title="Edit Activity" asp-action="Edit" asp-controller="Activity" asp-route-id="@activity.Id"><i class="fa fa-pencil"></i></a></td>

                                                    }
                                                    @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Activity" && p.View == true && p.Delete == true))
                                                    {

                                                    <td><a title="Delete Activity" data-actions-id="@activity.Id" title="Delete" id="btnDelete" href="#"><i class="fa-solid fa-trash"></i></a></td>
                                                    }
                                            </tr>

                                            @foreach (var objective in activity.Objectives.OrderBy(f => f.Code))
                                            {
                                                <tr>
                                                    <td>
                                                        @(department.Code + " - " + department.Name)
                                                    </td>
                                                    <td>
                                                        @(function.Code + " - " + function.Name)
                                                    </td>
                                                    <td>
                                                        @(activity.Code + " - " + activity.Name)
                                                    </td>

                                                    <th colspan="6">
                                                        <a href="/Task/GetTasksByObjectiveId?objectiveId=@objective.Id" title="Objective">
                                                            @(objective.Code + " - " + objective.Name)
                                                        </a>
                                                    </th>

                                                        @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Objective" && p.View == true && (p.Edit == false && p.Delete == false)))
                                                        {

                                                        <td> <a title="View Objective" asp-action="View" asp-controller="Objective" asp-route-id="@objective.Id"><i class="fa-solid fa-eye"></i></a></td>

                                                        }
                                                        @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Objective" && p.View == true && (p.Edit == false && p.Delete == true)))
                                                        {

                                                        <td><a title="View Objective" asp-action="View" asp-controller="Objective" asp-route-id="@objective.Id"><i class="fa-solid fa-eye"></i></a></td>

                                                        }
                                                        @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Objective" && p.View == true && p.Edit == true))
                                                        {

                                                        <td><a title="Edit Objective" asp-action="Edit" asp-controller="Objective" asp-route-id="@objective.Id"><i class="fa fa-pencil"></i></a></td>

                                                        }
                                                        @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Objective" && p.View == true && p.Delete == true))
                                                        {
                                                        <td> <a title="Delete Objective" data-actions-id="@objective.Id" id="btnDelete" href="#"><i class="fa-solid fa-trash"></i></a></td>
                                                        }

                                                </tr>
                                                @foreach (var task in objective.Tasks.OrderBy(f => f.Code))
                                                {
                                                    <tr>
                                                        <td>
                                                            @(department.Code + " - " + department.Name)
                                                        </td>
                                                        <td>
                                                            @(function.Code + " - " + function.Name)
                                                        </td>
                                                        <td>
                                                            @(activity.Code + " - " + activity.Name)
                                                        </td>

                                                        <td>
                                                            @(objective.Code + " - " + objective.Name)
                                                        </td>
                                                        <th colspan="5">
                                                            <a href="/Practice?taskId=@task.Id" title="Task">
                                                                @(task.Code + " - " + task.Name)
                                                            </a>
                                                        </th>

                                                            @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Task" && p.View == true && (p.Edit == false && p.Delete == false)))
                                                            {

                                                            <td> <a title="View Task" asp-action="View" asp-controller="Task" asp-route-id="@task.Id"><i class="fa-solid fa-eye"></i></a></td>

                                                            }
                                                            @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Task" && p.View == true && (p.Edit == false && p.Delete == true)))
                                                            {

                                                            <td> <a title="View Task" asp-action="View" asp-controller="Task" asp-route-id="@task.Id"><i class="fa-solid fa-eye"></i></a></td>

                                                            }
                                                            @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Task" && p.View == true && p.Edit == true))
                                                            {

                                                            <td><a title="Edit Task" asp-action="Edit" asp-controller="Task" asp-route-id="@task.Id"><i class="fa fa-pencil"></i></a></td>

                                                            }
                                                            @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Task" && p.View == true && p.Delete == true))
                                                            {

                                                            <td><a title="Delete Task" data-actions-id="@task.Id" id="btnDelete" href="#"><i class="fa-solid fa-trash"></i></a></td>
                                                            }
                                                        
                                                    </tr>
                                                    @foreach (var practice in task.Practices.OrderBy(f => f.Code))
                                                    {
                                                        <tr>
                                                            <td>
                                                                @(department.Code + " - " + department.Name)
                                                            </td>
                                                            <td>
                                                                @(function.Code + " - " + function.Name)
                                                            </td>
                                                            <td>
                                                                @(activity.Code + " - " + activity.Name)
                                                            </td>

                                                            <td>
                                                                @(objective.Code + " - " + objective.Name)
                                                            </td>
                                                            <td>
                                                                @(task.Code + " - " + task.Name)
                                                            </td>
                                                            <td colspan="4">
                                                                @(practice.Code + " - " + practice.Name)
                                                            </td>

                                                           
                                                                @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Practice" && p.View == true && (p.Edit == false && p.Delete == false)))
                                                                {

                                                                <td> <a title="View Practice" asp-action="View" asp-controller="Task" asp-route-id="@practice.Id"><i class="fa-solid fa-eye"></i></a></td>

                                                                }
                                                                @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Practice" && p.View == true && (p.Edit == false && p.Delete == true)))
                                                                {

                                                                <td> <a title="View Practice" asp-action="View" asp-controller="Task" asp-route-id="@practice.Id"><i class="fa-solid fa-eye"></i></a></td>

                                                                }
                                                                @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Practice" && p.View == true && p.Edit == true))
                                                                {

                                                                <td><a title="Edit Practice" asp-action="Edit" asp-controller="Task" asp-route-id="@practice.Id"><i class="fa fa-pencil"></i></a></td>

                                                                }
                                                                @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Practice" && p.View == true && p.Delete == true))
                                                                {

                                                                <td><a title="Delete Practice" data-actions-id="@practice.Id" id="btnDelete" href="#"><i class="fa-solid fa-trash"></i></a></td>
                                                            }
                                                            
                                                        </tr>
                                                    }
                                                }
                                            }

                                        }

                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                }

              @*   @if (Model != null)
                {
                    var groupedCompanies = Model
                    .GroupBy(c => new { c.Industry.Name, c.Industry.Id, c.Industry.Code });


                    foreach (var group in groupedCompanies)
                    {
                        <div class="table-responsive">
                            <div class="row alert alert-secondary" style="margin-bottom:0; width:100%; margin-left: inherit;">
                                <div class="col-md-6 col-lg-6 col-sm-12">
                                    @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Industry" && p.View == true && p.Edit == true))
                                    {
                                        <h5><a asp-action="Edit" asp-controller="Industry" asp-route-id="@group.Key.Id">@group.Key.Code- @group.Key.Name</a></h5>
                                    }
                                    else
                                    {
                                        <h5><a asp-action="" asp-controller="" asp-route-id="">@group.Key.Code- @group.Key.Name</a></h5>
                                    }
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-12"></div>
                            </div>
                            <table style="width:100%;margin-bottom:20px;" id="tableList" class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th colspan="2">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in group)
                                    {
                                        <tr id="tr">
                                            <td>@item.Name</td>
                                            @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Company" && p.View == true && (p.Edit == false && p.Delete == false)))
                                            {
                                                <td>
                                                    <a asp-action="View" asp-controller="Company" asp-route-id="@item.Id" title="View"><i class="fa-solid fa-eye"></i></a>
                                                </td>
                                            }
                                            @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Company" && p.View == true && (p.Edit == false && p.Delete == true)))
                                            {
                                                <td>
                                                    <a asp-action="View" asp-controller="Company" asp-route-id="@item.Id" title="View"><i class="fa-solid fa-eye"></i></a>
                                                </td>
                                            }
                                            @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Company" && p.View == true && p.Edit == true))
                                            {
                                                <td>
                                                    <a asp-action="Edit" asp-controller="Company" asp-route-id="@item.Id" title="Edit"><i class="fa-solid fa-pen-to-square"></i></a>
                                                </td>
                                            }
                                            @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Company" && p.View == true && p.Delete == true))
                                            {
                                                <td>
                                                    <a data-actions-id="@item.Id" title="Delete" id="btnDelete" href="#"><i class="fa-solid fa-trash"></i></a>
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                } *@
              @*   <div class="text-center">
                    <div class="row">
                        <div class="col-md-6" style="    text-align: left;
    margin-top: 15px;">
                            <p>
                                Showing @Model.Count() of @ViewBag.TotalRow entries
                            </p>
                        </div>
                        <div class="col-md-6">
                            <nav aria-label="Page navigation" class="float-end mt-3">
                                <ul class="pagination">
                                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                                    {
                                        <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                                            <a class="page-link" href="?page=@i&pageSize=@ViewBag.PageSize">@i</a>
                                        </li>
                                    }
                                </ul>
                            </nav>
                        </div>
                    </div>


                </div> *@
            </div>
        </div>
    </div>
</div>
