@model IEnumerable<Department>

@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject IUserContext UserContext

@{
    ViewData["DeleteTitle"] = "departments";
    ViewData["Title"] = "Department List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var userPermissionsJson = "";
    var userPermissions = new List<RolesPermissions>();
    var httpContext = ViewContext.HttpContext;
    if (httpContext != null)
    {
        userPermissionsJson = httpContext.Session.GetString("UserPermissions");
        userPermissions = JsonConvert.DeserializeObject<List<RolesPermissions>>(userPermissionsJson, new JsonSerializerSettings
                {
                    ReferenceLoopHandling = ReferenceLoopHandling.Ignore
                });
    }
}
<style>
    .btn-danger, .fa-trash {
        color: #ffffff;
    }
</style>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="card-title">
                            Department Management View 
                        </h4>
                    </div>
                    <div class="col-md-6 text-end">
                        @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Department" && p.View == true && p.Add == true))
                        {
                            <a class="btn btn-primary me-2" href="~/Department/Add">
                                <i class="fa-solid fa-plus"></i> Add New Department
                            </a>
                        }
                    </div>
                </div>
                <div class="row p-3 m-3" style="box-shadow: 0px 2px 5px 0px;">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="CompanyId">Company</label>
                            <select style="border:1px solid #c1c1c1" class="form-control" id="CompanyId" asp-items="ViewBag.CompanyId">
                                <option value="">All Companies</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br />
                <br />

                <table class="table table-hover">
                    <thead>
                        <tr class="table-primary">

                            <th>
                                DEPARTMENT
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col">
                                            <b>
                                                <code>
                                                    @(item.Company.Code).@(item.Code)
                                                </code>

                                                ›

                                                <a href="#" title="Department">
                                                    @(item.Name != null ? item.Name : "N/A")
                                                </a>
                                            </b>
                                        </div>

                                    </div>
                                    @foreach (var subItem in item.Functions.OrderBy(f => f.Code))
                                    {
                                        <div class="row">
                                            <div class="col col-12 pl-5 pt-2">
                                                &nbsp; &nbsp; &nbsp;
                                                <a href="#" title="Function">
                                                    @subItem.Code @subItem.Name
                                                </a>
                                            </div>
                                        </div>
                                    }
                                </td>

                                @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Department" && p.View == true && (p.Edit == false && p.Delete == false)))
                                {

                                    <td class="text-right" style="white-space: nowrap;">
                                        <a class="btn btn-primary" title="View" asp-action="View" asp-controller="Department" asp-route-id="@item.Id" title="View">
                                            <i class="fa-solid fa-eye"></i> View
                                        </a>
                                    </td>

                                }
                                @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Department" && p.View == true && (p.Edit == false && p.Delete == true)))
                                {

                                    <td class="text-right" style="white-space: nowrap;">
                                        <a class="btn btn-primary" title="View" asp-action="View" asp-controller="Department" asp-route-id="@item.Id" title="View">
                                            <i class="fa-solid fa-eye"></i> View
                                        </a>
                                    </td>

                                }
                                @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Department" && p.View == true && p.Edit == true))
                                {

                                    <td class="text-right" style="white-space: nowrap;">
                                        <a class="btn btn-primary" title="Edit" asp-action="Edit" asp-controller="Department" asp-route-id="@item.Id" title="Edit">
                                            <i class="fa-solid fa-pen"></i> Edit
                                        </a>
                                    </td>

                                }
                                @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Department" && p.View == true && p.Delete == true))
                                {
                                    <td class="text-right" style="white-space: nowrap;">
                                        <button class="btn btn-danger" title="Delete" data-actions-id="@item.Id" id="btnDelete">
                                            <i class="fa-solid fa-trash"></i> Delete
                                        </button>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            var userPermissions = @Html.Raw(Json.Serialize(ViewBag.UserPermissions));

            $('#CompanyId').change(function () {
                var companyId = $(this).val() || null;
                setTimeout(function () {
                    $('#loading').show();
                },2000);
                $.ajax({
                    url: '/Department/FilterDeptTablebyCompanyId',
                    type: 'GET',
                    data: { companyId: companyId },
                    dataType: 'json',
                    success: function (data) {
                        $('tbody').empty();

                        $.each(data.$values, function (index, item) {
                            var row = '<tr>' +
                                '<td><div class="row"><div class="col"><b><code>' + item.companyCode + '.' + item.code + '</code> › <a href="#" title="Department">' + (item.name !== null ? item.name : "N/A") + '</a></b></div></div>';

                            if (item.functions.$values.length > 0) {
                                $.each(item.functions.$values, function (subIndex, subItem) {
                                    row += '<div class="row"><div class="col col-12 pl-5 pt-2">&nbsp; &nbsp; &nbsp; <a href="#" title="Function">' + subItem.code + ' ' + subItem.name + '</a></div></div>';
                                });
                            } 

                            row += '</td>';
                            row += '<td class="text-right" style="white-space: nowrap;">';                           
                            row += '<a class="btn btn-primary" title="Edit" asp-action="Edit" asp-controller="Department" asp-route-id="' + item.Id + '" title="Edit"><i class="fa-solid fa-pen"></i> Edit</a>';                           
                            row += '</td>'; 
                            row += '<td class="text-right" style="white-space: nowrap;">';                            
                            row += '<button class="btn btn-danger" title="Delete" data-actions-id="' + item.Id + '" id="btnDelete"><i class="fa-solid fa-trash"></i> Delete</button>';
                            row += '</td>';
                            row += '</tr>';

                            $('tbody').append(row);
                        });

                        var visibleRows = $('tbody tr:visible').length;
                        if (visibleRows === 0) {
                            $('#noDataMessage').show();
                        } else {
                            $('#noDataMessage').hide();
                        }

                        $('#resetFilterButton').show();
                    },
                    complete: function () {
                        $('#loading').hide();
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });
        });
    </script>
}
