@model IEnumerable<Tasks>
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject IUserContext UserContext

@{
    ViewData["DeleteTitle"] = "tasks";
    ViewData["Title"] = "Task List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var userPermissionsJson = "";
    var userPermissions = new List<RolesPermissions>();
    var httpContext = ViewContext.HttpContext;
    if (httpContext != null)
    {
        userPermissionsJson = httpContext.Session.GetString("UserPermissions");
        userPermissions = JsonConvert.DeserializeObject<List<RolesPermissions>>(userPermissionsJson, new JsonSerializerSettings
                {
                    ReferenceLoopHandling = ReferenceLoopHandling.Ignore
                });
    }
}

<style>
    .btn-danger, .fa-trash {
        color: #ffffff;
    }
</style>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="card-title">Task Management View</h4>
                    </div>
                    <div class="col-md-6 text-end">
                        @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Task" && p.View == true && p.Add == true))
                        {
                            <a class="btn btn-primary me-2" href="~/Task/Add">
                                <i class="fa-solid fa-plus"></i> Add New Task
                            </a>
                        }
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                TASK
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model)
                        {
                            <tr id="tr">

                                <td>
                                    <div class="row">
                                        <div class="col">
                                            <b>
                                                <code>
                                                    @(item.Objective.Activity.Function.Department.Company.Code).
                                                    @(item.Objective.Activity.Function.Department.Code).
                                                    @(item.Objective.Activity.Function.Code).
                                                    @(item.Objective.Activity.Code).
                                                    @(item.Objective.Code).
                                                    @(item.Code)
                                                </code>
                                                ›

                                                @(item.Name != null ? item.Name : "N/A")
                                            </b>
                                        </div>

                                    </div>

                                    @foreach(var subItem in item.Practices)
                                    {
                                        <div class="row">
                                            <div class="col col-12 pl-5 pt-2">
                                                &nbsp; &nbsp; &nbsp;
                                                <a href="'/Questionaires?companyId=' + item.companyId + '&functionId=' + item.id + '&activityId=' + item.activityId + '&practiceId=' + child.id"
                                                   title="Function">
                                                    @subItem.Code @subItem.Name
                                                </a>
                                            </div>
                                        </div>
                                    }
                                    

                                </td>
                                <td class="text-right" style="white-space: nowrap;">
                                    @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Task" && p.View == true && (p.Edit == false && p.Delete == false)))
                                    {

                                    <th> <a class="btn btn-primary" title="View Task" asp-action="View" asp-controller="Task" asp-route-id="@item.Id" title="View"><i class="fa-solid fa-eye"></i>View Task</a></th>

                                    }
                                    @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Task" && p.View == true && (p.Edit == false && p.Delete == true)))
                                    {

                                    <th> <a class="btn btn-primary" title="View Task" asp-action="View" asp-controller="Task" asp-route-id="@item.Id" title="View"><i class="fa-solid fa-eye"></i>View Task</a></th>

                                    }
                                    @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Task" && p.View == true && p.Edit == true))
                                    {

                                    <th> <a class="btn btn-primary" title="Edit Task" asp-action="Edit" asp-controller="Task" asp-route-id="@item.Id" title="Edit"><i class="fa-solid fa-pen-to-square"></i>Edit Task</a></th>

                                    }
                                    @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Task" && p.View == true && p.Delete == true))
                                    {
                                    <th> <button class="btn btn-danger" title="Delete Task" data-actions-id="@item.Id" id="btnDeleteTask"><i class="fa-solid fa-trash"></i>Delete Task</button></th>
                                    }                                </td>


                            </tr>
                        }
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
           @*      @foreach (var item in Model)
                {
                    <div class="card mb-5" data-tskId="@item.Id">
                        <table class="table table-hover table-bordered">

                            <tbody>


                                <tr class="table-primary tr">
                                    <th style="" colspan="6">
                                        Industry: @item.Industry?.Code - @item.Industry?.Name)
                                        <br />
                                        Company: @item.Company?.Code - @item.Company?.Name)
                                        <br />
                                        Department: @item.Department?.Code - @item.Department?.Name)
                                        <br />
                                        Function: @item.Objective?.Code - @item.Function?.Name)
                                        <br />
                                        Activity: @item.Activity?.Code - @item.Activity?.Name)
                                        <br />
                                        Objective: @item.Objective?.Code - @item.Objective?.Name)
                                        <br />
                                        Task: @(item.Code + " - " + item.Name)
                                    </th>

                                    <th style=""></th>
                                    <th style=""></th>
                                    <th>
                                    </th>
                                    @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Task" && p.View == true && (p.Edit == false && p.Delete == false)))
                                    {

                                        <th> <a class="btn btn-primary" title="View Task" asp-action="View" asp-controller="Task" asp-route-id="@item.Id" title="View"><i class="fa-solid fa-eye"></i>View Task</a></th>

                                    }
                                    @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Task" && p.View == true && (p.Edit == false && p.Delete == true)))
                                    {

                                        <th> <a class="btn btn-primary" title="View Task" asp-action="View" asp-controller="Task" asp-route-id="@item.Id" title="View"><i class="fa-solid fa-eye"></i>View Task</a></th>

                                    }
                                    @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Task" && p.View == true && p.Edit == true))
                                    {

                                        <th> <a class="btn btn-primary" title="Edit Task" asp-action="Edit" asp-controller="Task" asp-route-id="@item.Id" title="Edit"><i class="fa-solid fa-pen-to-square"></i>Edit Task</a></th>

                                    }
                                    @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Task" && p.View == true && p.Delete == true))
                                    {
                                        <th> <button class="btn btn-danger" title="Delete Task" data-actions-id="@item.Id" id="btnDeleteTask"><i class="fa-solid fa-trash"></i>Delete Task</button></th>
                                    }
                                </tr>

                                <tr class="tr2">
                                    <th colspan="6">
                                        PRACTICE
                                    </th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>

                                @foreach (var practice in item.Practices.Where(p=>p.IsDeleted == false).OrderBy(f => Convert.ToInt32(f.Code)))
                                {
                                    <tr id="tr3">
                                        <td colspan="4">
                                            @(practice.Code + " - " + practice.Name)
                                        </td>


                                        @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Practice" && p.View == true && (p.Edit == false && p.Delete == false)))
                                        {

                                            <td> <a class="btn btn-primary" title="View Practice" asp-action="View" asp-controller="Task" asp-route-id="@practice.Id"><i class="fa-solid fa-eye"></i>View Practice</a></td>

                                        }
                                        @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Practice" && p.View == true && (p.Edit == false && p.Delete == true)))
                                        {

                                            <td> <a class="btn btn-primary" title="View Practice" asp-action="View" asp-controller="Task" asp-route-id="@practice.Id"><i class="fa-solid fa-eye"></i>View Practice</a></td>

                                        }
                                        @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Practice" && p.View == true && p.Edit == true))
                                        {

                                            <td><a class="btn btn-primary" title="Edit Practice" asp-action="Edit" asp-controller="Task" asp-route-id="@practice.Id"><i class="fa fa-pencil"></i>Edit Practice</a></td>

                                        }
                                        @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Practice" && p.View == true && p.Delete == true))
                                        {

                                            <td><button class="btn btn-danger" title="Delete Practice" data-actions-id="@practice.Id" id="btnDeletePractice"><i class="fa-solid fa-trash"></i>Delete Practice</button></td>
                                        }

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                } *@

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            $(document).on("click", "#btnDeleteTask", function () {
                var btnId = $(this);
                swal({
                    title: "Are you sure?",
                    text: "Once deleted, you will not be able to recover this data!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                    confirmButtonText: "Yes, delete it!",
                }).then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: '/api/Tasks/' + btnId.attr("data-actions-id"),
                            method: 'DELETE',
                            dataType: 'json',
                            contentType: 'application/json',
                            success: function (response) {
                                swal({
                                    title: "Success",
                                    text: "The Delete is Successfully",
                                    icon: "success",
                                    timer: 2000,
                                    showConfirmButton: false
                                });
                                btnId.parents(".tr").remove();
                                $("div[data-tskId=" + btnId.attr("data-actions-id") + "]").remove();
                            },
                            error: function (error) {
                                swal({
                                    title: "Error",
                                    text: "Failed to delete the data",
                                    icon: "error",
                                    timer: 2000,
                                    showConfirmButton: false
                                });
                            }
                        });
                    } else {
                        swal("The data is safe!", {
                            icon: "info",
                            //timer: 2000,
                        });
                    }
                });
            });

            $(document).on("click", "#btnDeletePractice", function () {
                var btnId = $(this);
                swal({
                    title: "Are you sure?",
                    text: "Once deleted, you will not be able to recover this data!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                    confirmButtonText: "Yes, delete it!",
                }).then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: '/api/Practices/' + btnId.attr("data-actions-id"),
                            method: 'DELETE',
                            dataType: 'json',
                            contentType: 'application/json',
                            success: function (response) {
                                swal({
                                    title: "Success",
                                    text: "The Delete is Successfully",
                                    icon: "success",
                                    timer: 2000,
                                    showConfirmButton: false
                                });
                                btnId.closest("tr").nextUntil(".tr3").addBack().remove();
                            },
                            error: function (error) {
                                swal({
                                    title: "Error",
                                    text: "Failed to delete the data",
                                    icon: "error",
                                    timer: 2000,
                                    showConfirmButton: false
                                });
                            }
                        });
                    } else {
                        swal("The data is safe!", {
                            icon: "info",
                            //timer: 2000,
                        });
                    }
                });
            });
        });
    </script>
}