@model IEnumerable<Tasks>
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject IUserContext UserContext

@{
    ViewData["DeleteTitle"] = "tasks";
    ViewData["Title"] = "Task List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var userPermissionsJson = "";
    var userPermissions = new List<RolesPermissions>();
    var httpContext = ViewContext.HttpContext;
    if (httpContext != null)
    {
        userPermissionsJson = httpContext.Session.GetString("UserPermissions");
        userPermissions = JsonConvert.DeserializeObject<List<RolesPermissions>>(userPermissionsJson, new JsonSerializerSettings
                {
                    ReferenceLoopHandling = ReferenceLoopHandling.Ignore
                });
    }
}


<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="card-title">Task Management View</h4>
                    </div>
                    <div class="col-md-6 text-end">
                        @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Task" && p.View == true && p.Add == true))
                        {
                            <a class="btn btn-primary me-2" href="~/Task/Add">
                                <i class="fa-solid fa-plus"></i> Add New Task
                            </a>
                        }
                    </div>
                </div>

                <table class="table">
                    <thead>
                        <tr>


                            <th>
                                TASK
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if(Model != null)
                        {
                            foreach(var item in Model)
                            {
                                <tr>

                                    <td>
                                        <div class="row">
                                            <div class="col">
                                                <b>
                                                    <code title="Objective">
                                                        @(item.Objective.Activity.Function.Department.Company.Code + "." + item.Objective.Activity.Function.Department.Code + "."
                                                            + item.Objective.Activity.Function.Code + "." + item.Objective.Activity.Code + "." + item.Objective.Code + "." + item.Code)
                                                    </code>
                                                    ›

                                                    @(item.Name!=null ? item.Name: "N/A")
                                                </b>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col col-12 pl-5 pt-2" v-for="child in item.practices"
                                                 :key="child.id">
                                                &nbsp; &nbsp; &nbsp;
                                                @foreach (var practice in item.Practices.OrderBy(f => f.Code))
                                                {
                                                    <h6>
                                                        <ol style="list-style-type:none;">
                                                            <li>
                                                                <a href="/Practice?TaskId=" + @item.Id
                                                                   title="Practice">
                                                                    {{child.code}} {{child.practiceName}}
                                                                    @item.Code @item.Name
                                                                </a>
                                                            </li>
                                                        </ol>
                                                    </h6>
                                                }
                                                
                                            </div>
                                        </div>

                                    </td>
                                    @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Task" && p.View == true && (p.Edit == false && p.Delete == false)))
                                    {
                                        <td>
                                            <a asp-action="View" asp-controller="Task" asp-route-id="@item.Id" title="View"><i class="fa-solid fa-eye"></i></a>
                                        </td>
                                    }
                                    @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Task" && p.View == true && (p.Edit == false && p.Delete == true)))
                                    {
                                        <td>
                                            <a asp-action="View" asp-controller="Task" asp-route-id="@item.Id" title="View"><i class="fa-solid fa-eye"></i></a>
                                        </td>
                                    }
                                    @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Task" && p.View == true && p.Edit == true))
                                    {
                                        <td>
                                            <a asp-action="Edit" asp-controller="Task" asp-route-id="@item.Id" title="Edit"><i class="fa-solid fa-pen-to-square"></i></a>
                                        </td>
                                    }
                                    @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Task" && p.View == true && p.Delete == true))
                                    {
                                        <td>
                                            <a data-actions-id="@item.Id" title="Delete" id="btnDelete" href="#"><i class="fa-solid fa-trash"></i></a>
                                        </td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
               @*  @{ 
                    var groupedTasks = Model
                    .GroupBy(c => new { c.Objective.Name, c.Objective.Id, c.Objective.Code });
                }
                @foreach (var group in groupedTasks)
                {
                    <div class="table-responsive">
                        <div class="row alert alert-secondary" style="margin-bottom:0; width:100%; margin-left: inherit;">
                            <div class="col-md-6 col-lg-6 col-sm-12">
                                @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Objective" && p.View == true && p.Edit == true))
                                {
                                    <h5><a asp-action="Edit" asp-controller="Objective" asp-route-id="@group.Key.Id">@group.Key.Code- @group.Key.Name</a></h5>
                                }
                                else
                                {
                                    <h5><a asp-action="" asp-controller="" asp-route-id="">@group.Key.Code- @group.Key.Name</a></h5>
                                }
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-12"></div>
                        </div>
                        <table style="width:100%;margin-bottom:20px;" id="tableList" class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th colspan="2">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in group)
                                {
                                    <tr id="tr">
                                        <td>@item.Name</td>
                                        @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Task" && p.View == true && (p.Edit == false && p.Delete == false)))
                                        {
                                            <td>
                                                <a asp-action="View" asp-controller="Task" asp-route-id="@item.Id" title="View"><i class="fa-solid fa-eye"></i></a>
                                            </td>
                                        }
                                        @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Task" && p.View == true && (p.Edit == false && p.Delete == true)))
                                        {
                                            <td>
                                                <a asp-action="View" asp-controller="Task" asp-route-id="@item.Id" title="View"><i class="fa-solid fa-eye"></i></a>
                                            </td>
                                        }
                                        @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Task" && p.View == true && p.Edit == true))
                                        {
                                            <td>
                                                <a asp-action="Edit" asp-controller="Task" asp-route-id="@item.Id" title="Edit"><i class="fa-solid fa-pen-to-square"></i></a>
                                            </td>
                                        }
                                        @if (userPermissions != null && userPermissions.Any(p => p.Permission.Name == "Task" && p.View == true && p.Delete == true))
                                        {
                                            <td>
                                                <a data-actions-id="@item.Id" title="Delete" id="btnDelete" href="#"><i class="fa-solid fa-trash"></i></a>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                <div class="text-center">
                    <div class="row">
                        <div class="col-md-6" style="    text-align: left;
    margin-top: 15px;">
                            <p>
                                Showing @Model.Count() of @ViewBag.TotalRow entries
                            </p>
                        </div>
                        <div class="col-md-6">
                            <nav aria-label="Page navigation" class="float-end mt-3">
                                <ul class="pagination">
                                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                                    {
                                        <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                                            <a class="page-link" href="?page=@i&pageSize=@ViewBag.PageSize">@i</a>
                                        </li>
                                    }
                                </ul>
                            </nav>
                        </div>
                    </div>


                </div> *@
            </div>
        </div>
    </div>
</div>

@* 
@section Scripts{
    <script>
        $(document).on("click", "#btnDelete", function () {
            var btnId = $(this);
            var table = $('#tableList');
            if (confirm("Are you sure to delete it?")) {
                $.ajax({
                    url: "/api/tasks/" + btnId.attr("data-actions-id"),
                    method: "DELETE",
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (response) {
                        alert("The Delete is Successfully");
                        btnId.parents("#tr").remove();
                    },
                    error: function (error) {
                        alert("Error Details → " + error.responseText);
                        if (error.responseJSON && error.responseJSON.errors) {
                            $.each(error.responseJSON.errors, function (key, value) {
                                $("#" + key).siblings(".text-danger").text(value);
                            });
                        }
                    }
                });
            }
        });
    </script>
} *@